Dashboard_UI.json
[{"type":"tab","id":"3691c4e9.592464","label":"Dashboard UI"},{"id":"3006adeb.c03c32","type":"ui_tab","z":"3691c4e9.592464","name":"Home","icon":"dashboard","order":"1"},{"id":"7220e09f.c2de08","type":"github-credentials","z":"","name":"ibmarema"},{"id":"c92e1193.fdf9b","type":"ui_button","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"Button","payload":"payload","topic":"button topic","group":"","order":1,"x":317,"y":181,"wires":[["15df034c.556d9d","e15f0973.b1f1a8"]]},{"id":"15df034c.556d9d","type":"debug","z":"3691c4e9.592464","name":"","active":true,"console":"false","complete":"true","x":577.5,"y":262,"wires":[]},{"id":"82f6f1ad.cbfd6","type":"ui_numeric","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"Numeric","topic":"button topic","group":"","order":1,"format":"{{value}}","min":0,"max":10,"x":428,"y":314,"wires":[["74cd62ff.484d6c","9a42fea9.8024a8"]]},{"id":"74cd62ff.484d6c","type":"ui_chart","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"","group":"","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":590,"y":415,"wires":[[],[]]},{"id":"e15f0973.b1f1a8","type":"ui_text","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"Text","group":"","order":1,"format":"{{msg.payload}}","x":748,"y":196,"wires":[]},{"id":"18acf117.cfcc5f","type":"ui_text_input","z":"3691c4e9.592464","tab":"3006adeb.c03c32","mode":"text","delay":300,"name":"","topic":"","group":"","order":1,"x":360,"y":426,"wires":[["16a9de9.694be21","d5adc662.899c58"]]},{"id":"9a42fea9.8024a8","type":"ui_gauge","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"Gauge","group":"","order":1,"format":"{{value}}","min":0,"max":10,"x":308,"y":572,"wires":[]},{"id":"d5adc662.899c58","type":"ui_toast","z":"3691c4e9.592464","name":"","x":517,"y":612,"wires":[]},{"id":"a981a17e.e7081","type":"ui_link","z":"3691c4e9.592464","name":"Google","link":"http://www.google.com","icon":"open_in_browser","order":1,"x":317,"y":692,"wires":[]},{"id":"258c47e8.dbab58","type":"ui_template","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"","group":"","order":1,"format":"<md-button ng-click=\"send({payload: 'Hello World'})\">\n    Click me to send a hello world\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"x":880,"y":492,"wires":[["16a9de9.694be21"]]},{"id":"16a9de9.694be21","type":"ui_text","z":"3691c4e9.592464","tab":"3006adeb.c03c32","name":"Text","group":"","order":1,"format":"{{msg.payload}}","x":555,"y":492,"wires":[]},{"id":"2b266a00.b15ace","type":"comment","z":"3691c4e9.592464","name":"","info":"http://arema.media.ibmcloud.com:1880/ui/","x":1026.5,"y":656,"wires":[]},{"id":"75371766.e83d2","type":"flow-reader","z":"3691c4e9.592464","name":"Save Flow to GitHub","protocol":"http","url":"127.0.0.1:1880","sheet":"Dashboard UI","auth":false,"once":false,"x":206,"y":1009,"wires":[["9b647560.6bcb5"]]},{"id":"9b647560.6bcb5","type":"function","z":"3691c4e9.592464","name":"Set Filename","func":"msg.filename = \"/home/dmae/git/\" + msg.payload[0].label.split(' ').join('_') + \".json\";\nmsg.flowid = msg.payload[0].id;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":456,"y":1009,"wires":[["e9551f9f.d7945","abd4106d.9eb948"]]},{"id":"e9551f9f.d7945","type":"file","z":"3691c4e9.592464","name":"Save Flow as File","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":676,"y":1009,"wires":[]},{"id":"c49d9839.d519e","type":"exec","z":"3691c4e9.592464","command":"/home/dmae/.node-red/git_commit \"Dashboard_UI.json\"","addpay":false,"append":"","useSpawn":"","name":"Push to Git","x":456,"y":1069,"wires":[[],["681d63ff.2918fc"],[]]},{"id":"6b8c7cb4.79e7e4","type":"inject","z":"3691c4e9.592464","name":"Start Push to Git","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186,"y":1069,"wires":[["c49d9839.d519e"]]},{"id":"681d63ff.2918fc","type":"debug","z":"3691c4e9.592464","name":"","active":true,"console":"false","complete":"false","x":656,"y":1069,"wires":[]},{"id":"abd4106d.9eb948","type":"debug","z":"3691c4e9.592464","name":"","active":true,"console":"false","complete":"false","x":690,"y":897,"wires":[]}]
