Flow_Test_1.json
[{"id":"867f66ee.f079b8","type":"inject","z":"c090a489.6a0228","name":"Start Workflow","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":147,"y":86,"wires":[["467fbc4e.f99d1c"]]},{"id":"467fbc4e.f99d1c","type":"template","z":"c090a489.6a0228","name":"Input XML as Template","field":"payload","fieldType":"msg","format":"handlebars","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<admira version=\"2.2.0\" type=\"variables\">\n    <properties id=\"template_variables\">\n        <param name=\"file\">.mxf</param>\n        <param name=\"path\">/import/src1/</param>\n        <param name=\"filename\">video.mp4</param>\n    </properties>\n</admira>","x":360,"y":86,"wires":[["11dadc2b.8e222c"]]},{"id":"11dadc2b.8e222c","type":"job_start","z":"c090a489.6a0228","name":"job_start","title":"Job Start","priority":"500","x":549,"y":85.5,"wires":[["74d8eb7b.e92db4"]]},{"id":"2d41d3e7.4a0624","type":"job_end","z":"c090a489.6a0228","includeparameters":false,"x":928.5,"y":410.5,"wires":[[]]},{"id":"de186df5.c96488","type":"debug","z":"c090a489.6a0228","name":"","active":true,"console":"false","complete":"true","x":923,"y":246.5,"wires":[]},{"id":"74d8eb7b.e92db4","type":"job_vars","z":"c090a489.6a0228","variables":[{"k":"switch","v":"1"}],"x":724,"y":85.5,"wires":[["670f4013.85e62"]]},{"id":"f3f95327.980f9","type":"link_to_cache","z":"c090a489.6a0228","name":"5678name","title":"title","source_filename":"source_filename","target_filename":"target_filename","file_list":"file_list","symlink":"","org_unit":"","chmod_file":"","hold_in_cache":"","x":547.5,"y":377,"wires":[["a35d0604.e40f28"]]},{"id":"11eb0c0d.7dc024","type":"copy_to_cache","z":"c090a489.6a0228","name":"name","title":"title","source_filename":"source_filename","contained_file_list":"","target_filename":"target_filename","file_list":"file_list","org_unit":"","block_size":"","hold_in_cache":"","x":530.5,"y":270,"wires":[["a35d0604.e40f28"]]},{"id":"a35d0604.e40f28","type":"copy_to_cache","z":"c090a489.6a0228","name":"","title":"","source_filename":"","contained_file_list":"","target_filename":"","file_list":"","org_unit":"","block_size":"","hold_in_cache":"","x":737.5,"y":331,"wires":[["2d41d3e7.4a0624","de186df5.c96488"]]},{"id":"fadcca24.74822","type":"switch","z":"c090a489.6a0228","name":"","property":"payload.variables.$switch","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":375.5,"y":332,"wires":[["11eb0c0d.7dc024"],["f3f95327.980f9"]]},{"id":"670f4013.85e62","type":"copy_to_cache","z":"c090a489.6a0228","name":"1234","title":"","source_filename":"","contained_file_list":"","target_filename":"","file_list":"","org_unit":"","block_size":"","hold_in_cache":"","x":174.5,"y":330,"wires":[["fadcca24.74822"]]}]
