Flow_Uli.json
[{"type":"tab","id":"9b722848.d68578","z":"9b722848.d68578","label":"Flow Uli"},{"id":"630e6480.5315a4","type":"subflow","name":"Load Workflow from File","info":"","in":[{"x":131,"y":114,"wires":[{"id":"c217fed2.532bc"}]}],"out":[]},{"id":"602c1aaa.1b7944","type":"subflow","name":"save Workflow as File","info":"","in":[{"x":132,"y":96,"wires":[{"id":"ee4b17da.7c65a"}]}],"out":[]},{"id":"7220e09f.c2de08","type":"github-credentials","z":"","name":"ibmarema"},{"id":"cd82bc7.3cf4c4","type":"inject","z":"9b722848.d68578","name":"Start Workflow","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":331,"wires":[["9e1c610f.16f12"]]},{"id":"9e1c610f.16f12","type":"template","z":"9b722848.d68578","name":"Input XML as Template","field":"payload","fieldType":"msg","format":"handlebars","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<admira version=\"2.2.0\" type=\"variables\">\n    <properties id=\"template_variables\">\n        <param name=\"file\">.mxf</param>\n        <param name=\"path\">/import/src1/</param>\n        <param name=\"filename\">video.mp4</param>\n    </properties>\n</admira>","x":323,"y":92,"wires":[["91fdaf37.e606e8"]]},{"id":"91fdaf37.e606e8","type":"job_start","z":"9b722848.d68578","name":"push_demo","title":"Send a push message","priority":"500","searchTag1":"","searchTag2":"","searchTag3":"","searchTagInt1":"123","searchTagInt2":"123","searchTagInt3":"123","searchTagDate1":"2016-03-12T10:10:10","searchTagDate2":"2016-03-12T10:10:10","searchTagDate3":"2016-03-12T10:10:10","x":522,"y":91.5,"wires":[["304fc19d.0476c6"]]},{"id":"304fc19d.0476c6","type":"job_vars","z":"9b722848.d68578","variables":[{"k":"push_msg_title","v":"This is my push title"},{"k":"Push_msg_detail","v":"This is my push detail"}],"x":702,"y":93.5,"wires":[["93046f20.39c57"]]},{"id":"47261151.4a7c28","type":"job_end","z":"9b722848.d68578","includeparameters":true,"x":997.5,"y":304.5,"wires":[["25cb82a6.7b48ce"]]},{"id":"25cb82a6.7b48ce","type":"debug","z":"9b722848.d68578","name":"","active":true,"console":"false","complete":"false","x":1161,"y":95.5,"wires":[]},{"id":"c217fed2.532bc","type":"file in","z":"630e6480.5315a4","name":"Load Flow","filename":"/tmp/flow3.json","format":"utf8","x":300,"y":181,"wires":[["1217bd09.752eeb"]]},{"id":"5e2e7411.9ec31c","type":"debug","z":"630e6480.5315a4","name":"","active":true,"console":"false","complete":"false","x":1025,"y":243.5,"wires":[]},{"id":"a4fdd32c.dc903","type":"http request","z":"630e6480.5315a4","name":"Copy Flow in Flow 3","method":"POST","ret":"obj","url":"http://159.122.4.146:1880/flow/c090a489.6a0228","x":763,"y":175,"wires":[["5e2e7411.9ec31c"]]},{"id":"1217bd09.752eeb","type":"function","z":"630e6480.5315a4","name":"Parse File to JSON","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":116,"wires":[["a4fdd32c.dc903"]]},{"id":"ee4b17da.7c65a","type":"http request","z":"602c1aaa.1b7944","name":"Get Flow","method":"GET","ret":"obj","url":"http://159.122.4.146:1880/flow/7e54c3cd.4d15a4","x":324,"y":182,"wires":[["3c5a7878.b6cf"]]},{"id":"3c5a7878.b6cf","type":"function","z":"602c1aaa.1b7944","name":"Change ID and Label","func":"msg.payload.id = \"c090a489.6a0228\";\nmsg.payload.label = \"Flow 3\";\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":114,"wires":[["680e37d0.09a2a8"]]},{"id":"680e37d0.09a2a8","type":"file","z":"602c1aaa.1b7944","name":"Save Flow as File","filename":"/tmp/flow3.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":851,"y":191,"wires":[]},{"id":"93046f20.39c57","type":"external_command","z":"9b722848.d68578","name":"Send_Push_Message","title":"Send a Push Message to the AREMA Event App","exec_name":"/home/dmae/admira/bin/ec_send_push_message","source_filenames":"","target_filenames":"","additional_parameters":"$push_msg_title","org_unit":"admira","chmod_file":"","hold_in_cache":"no","x":828.5,"y":218,"wires":[["47261151.4a7c28"]]},{"id":"805e9a9e.f47028","type":"github-repo","z":"9b722848.d68578","github":"7220e09f.c2de08","name":"Get Contents","username":"ibmarema","usernameType":"str","repository":"flows","repositoryType":"str","action":"read","branch":"master","branchType":"str","path":"README.md","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":494.5,"y":626,"wires":[["39586baa.128bdc"]]},{"id":"29395e55.dd2bd2","type":"debug","z":"9b722848.d68578","name":"","active":true,"console":"false","complete":"flowid","x":685.5,"y":1002,"wires":[]},{"id":"39586baa.128bdc","type":"debug","z":"9b722848.d68578","name":"","active":true,"console":"false","complete":"payload","x":748.5,"y":671,"wires":[]},{"id":"59c0bd45.79e3c4","type":"inject","z":"9b722848.d68578","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288.5,"y":579,"wires":[["805e9a9e.f47028"]]},{"id":"46674f2e.de2af8","type":"subflow:630e6480.5315a4","z":"9b722848.d68578","name":"","x":1151,"y":516,"wires":[]},{"id":"bda1e707.a5d878","type":"subflow:602c1aaa.1b7944","z":"9b722848.d68578","name":"","x":1102,"y":569,"wires":[]},{"id":"4c6844a0.4af9f4","type":"flow-reader","z":"9b722848.d68578","name":"Save Flow to GitHub","protocol":"http","url":"127.0.0.1:1880","sheet":"Flow Uli","auth":false,"once":false,"x":256,"y":839,"wires":[["2e07c9b9.b708be","a0a82953.ff2678"]]},{"id":"23f7fd76.e4c7da","type":"github-repo","z":"9b722848.d68578","github":"7220e09f.c2de08","name":"Commit","username":"ibmarema","usernameType":"str","repository":"flows","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"filename","pathType":"msg","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":765,"y":935,"wires":[]},{"id":"a0a82953.ff2678","type":"function","z":"9b722848.d68578","name":"Set Filename","func":"msg.filename = \"/tmp/\" + msg.payload[0].label.replace(\" \",\"_\") + \".json\";\nmsg.flowid = msg.payload[0].id;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":523.5,"y":897,"wires":[["29395e55.dd2bd2","b9bf9819.ae048","a419c164.649a1","23f7fd76.e4c7da"]]},{"id":"2e07c9b9.b708be","type":"debug","z":"9b722848.d68578","name":"","active":false,"console":"false","complete":"false","x":505.5,"y":825,"wires":[]},{"id":"b9bf9819.ae048","type":"debug","z":"9b722848.d68578","name":"","active":true,"console":"false","complete":"filename","x":680.5,"y":1054,"wires":[]},{"id":"a419c164.649a1","type":"file","z":"9b722848.d68578","name":"Save Flow as File","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":790,"y":856,"wires":[]}]
