Send_Push_Message.json
{
    "id": "52f293a2.8a7c24",
    "label": "Send Push Message",
    "nodes": [
        {
            "id": "a994406e.034238",
            "type": "inject",
            "z": "52f293a2.8a7c24",
            "name": "Start Workflow",
            "topic": "",
            "payload": "",
            "payloadType": "str",
            "repeat": "",
            "crontab": "",
            "once": false,
            "x": 174,
            "y": 48,
            "wires": [
                [
                    "1d9f9a0c.46c37e"
                ]
            ]
        },
        {
            "id": "1d9f9a0c.46c37e",
            "type": "template",
            "z": "52f293a2.8a7c24",
            "name": "Input XML",
            "field": "payload",
            "fieldType": "msg",
            "format": "handlebars",
            "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<admira version=\"2.2.0\" type=\"variables\">\n    <properties id=\"template_variables\">\n        <param name=\"user\">Ulrich Voigt</param>\n        <param name=\"path\">/home/dmae/import</param>\n        <param name=\"filename\">testfile_avid.mxf</param>\n    </properties>\n</admira>",
            "x": 354,
            "y": 47,
            "wires": [
                [
                    "9d7d3857.fa92a"
                ]
            ]
        },
        {
            "id": "9d7d3857.fa92a",
            "type": "job_start",
            "z": "52f293a2.8a7c24",
            "name": "push_message",
            "title": "Send Push Message",
            "jobtype": "push_message",
            "priority": "500",
            "starttime": "",
            "startbatch": "",
            "endbatch": "",
            "searchTag1": "",
            "searchTag2": "",
            "searchTag3": "",
            "searchTagInt1": "",
            "searchTagInt2": "",
            "searchTagInt3": "",
            "searchTagDate1": "",
            "searchTagDate2": "",
            "searchTagDate3": "",
            "x": 626,
            "y": 81,
            "wires": [
                [
                    "722615e7.43c1bc"
                ]
            ]
        },
        {
            "id": "722615e7.43c1bc",
            "type": "job_vars",
            "z": "52f293a2.8a7c24",
            "variables": [
                {
                    "k": "file",
                    "v": "$path/$filename"
                },
                {
                    "k": "workflow_message_title",
                    "v": "The file [$file] has been imported"
                },
                {
                    "k": "workflow_message_details",
                    "v": "The file [$path/file] has been imported as upload by $user"
                },
                {
                    "k": "orgunit",
                    "v": "admira"
                }
            ],
            "x": 825,
            "y": 146,
            "wires": [
                [
                    "f55c89f1.8a224"
                ]
            ]
        },
        {
            "id": "a1592004.85bc58",
            "type": "determine_metadata",
            "z": "52f293a2.8a7c24",
            "nop": false,
            "name": "analyze",
            "title": "Determine metadata of [$file]",
            "filename": "$file",
            "org_unit": "admira",
            "x": 1369,
            "y": 290,
            "wires": [
                [
                    "45ba9eee.ade6a8"
                ]
            ]
        },
        {
            "id": "45ba9eee.ade6a8",
            "type": "external_command",
            "z": "52f293a2.8a7c24",
            "nop": true,
            "tag": "",
            "name": "send_push_message",
            "title": "Send push message to Bluemix for AREMA Event App",
            "exec_name": "/home/dmae/admira/bin/ec_send_push_message",
            "source_filenames": "",
            "target_filenames": "",
            "additional_parameters": "0815[Sep]$workflow_message_title[Sep]$workflow_message_details[Sep]workflow",
            "org_unit": "$orgunit",
            "chmod_file": "",
            "hold_in_cache": "",
            "parameters": [],
            "x": 1598,
            "y": 290,
            "wires": [
                [
                    "e0953e2c.6fb408"
                ]
            ]
        },
        {
            "id": "9bb7c7e2.e60f7",
            "type": "comment",
            "z": "52f293a2.8a7c24",
            "name": "external_command Parameter",
            "info": "jobid=$1\nmessage_title=$2\nmessage_detail=$3\nmessage_type=$4\n\n1323 \" Job is finished with error\" \"Job 1323 is finished with error.\" error",
            "x": 1570,
            "y": 377,
            "wires": []
        },
        {
            "id": "e0953e2c.6fb408",
            "type": "job_end",
            "z": "52f293a2.8a7c24",
            "includeparameters": true,
            "eojtag": "",
            "x": 1843,
            "y": 204,
            "wires": [
                [
                    "844e8bcf.10f248",
                    "77f44563.11d26c"
                ]
            ]
        },
        {
            "id": "77f44563.11d26c",
            "type": "job_send",
            "z": "52f293a2.8a7c24",
            "holdjob": true,
            "url": "http://arema.media.ibmcloud.com:9090",
            "system": "admira",
            "user": "dmae",
            "password": "pw4Ar3.mA",
            "encrypted": false,
            "x": 2059,
            "y": 250,
            "wires": [
                [
                    "9339ebea.08b058"
                ]
            ]
        },
        {
            "id": "844e8bcf.10f248",
            "type": "debug",
            "z": "52f293a2.8a7c24",
            "name": "",
            "active": false,
            "console": "false",
            "complete": "false",
            "x": 2042,
            "y": 119,
            "wires": []
        },
        {
            "id": "9339ebea.08b058",
            "type": "debug",
            "z": "52f293a2.8a7c24",
            "name": "",
            "active": true,
            "console": "false",
            "complete": "false",
            "x": 2312,
            "y": 249,
            "wires": []
        },
        {
            "id": "ac5b21de.fb978",
            "type": "flow-reader",
            "z": "52f293a2.8a7c24",
            "name": "Save Flow to GitHub",
            "protocol": "http",
            "url": "127.0.0.1:1880",
            "sheet": "Send Push Message",
            "auth": false,
            "once": false,
            "x": 178,
            "y": 454,
            "wires": [
                [
                    "c8737f1f.74bbc8"
                ]
            ]
        },
        {
            "id": "c8737f1f.74bbc8",
            "type": "function",
            "z": "52f293a2.8a7c24",
            "name": "Set commit message",
            "func": "// the commit message has to be enclosed in \" and \\\"\n\nmsg.commit = \"\\\"my commit message 3\\\"\";\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 463,
            "y": 453,
            "wires": [
                [
                    "fd4b0b54.241b4"
                ]
            ]
        },
        {
            "id": "fd4b0b54.241b4",
            "type": "subflow:3034f64e.09f3d2",
            "z": "52f293a2.8a7c24",
            "name": "",
            "x": 753,
            "y": 453,
            "wires": [],
            "subflow": "3034f64e.09f3d2"
        },
        {
            "id": "f55c89f1.8a224",
            "type": "function",
            "z": "52f293a2.8a7c24",
            "name": "cache_filename",
            "func": "//variable declaration\nvar cache_filename =    \n                        \"demo_workflow/\" +\n                        msg.payload.variables.$filename.substr(0 , msg.payload.variables.$filename.length-4) + \n                        \"_\" +\n                        Date.now() + \n                        \".mxf\";\n                        \"/\" + msg.payload.variables.$filename;\n\n\n// output to debug sidebar\nnode.warn(cache_filename);\n\n// add to msg to be passed on\nmsg.payload.variables.$cache_filename = cache_filename;\nreturn msg;\n",
            "outputs": 1,
            "noerr": 0,
            "x": 1002.5,
            "y": 154,
            "wires": [
                [
                    "c0b7d225.6b1b9"
                ]
            ]
        },
        {
            "id": "c0b7d225.6b1b9",
            "type": "copy_to_cache",
            "z": "52f293a2.8a7c24",
            "nop": false,
            "name": "import_file",
            "title": "Copy File [$file] into AREMA as [$cache_filename]",
            "source_filename": "$file",
            "contained_file_list": "",
            "target_filename": "$cache_filename",
            "file_list": "",
            "org_unit": "$orgunit",
            "block_size": "",
            "hold_in_cache": "",
            "parameters": [],
            "x": 1178.5,
            "y": 289,
            "wires": [
                [
                    "a1592004.85bc58"
                ]
            ]
        }
    ]
}
